### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#get names of columns
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#find count from sn
player_count = purchase_df["SN"].value_counts()
#code to get count to total players column
total_players = len(purchase_df['SN'].value_counts())
total_players_df = pd.DataFrame({"Total Players": total_players}, index=[0])
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#get info on average and uniques
average_price = purchase_df['Price'].mean()
unique_items = purchase_df['Item ID'].count()
total_price = purchase_df['Price'].sum()

#make table
summary_df = pd.DataFrame({"Average" : average_price,
                           "Uniques" : unique_items,
                          "Total Cost" : [total_price]})
summary_df.index.name = "Table"
format_dict = {'Total Cost':'${0:,.0f}','Average Price' :'${0:,.0f}',}
summary_df.style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:

gender = purchase_df.groupby("Gender")
counts = gender.nunique()["SN"]

percentage = (counts/total_players*100)

gender_final = pd.DataFrame({ "Percentage of Players": percentage,"Total Count": counts
})

gender_final.index.name = 'Gender'
format_dict = {"Percentage of Players" :'{0:.0f}%'}
gender_final.style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
gender_grouping = purchase_df.groupby("Gender")
purchase_count = counts
average_purchase = gender_grouping["Price"].mean()
avg_total = gender_grouping["Price"].sum()
avg_gender = avg_total/counts
demo_df = pd.DataFrame({"Purchase Count" : purchase_count,
                       "Avg Purchase Price" : average_purchase,
                       "Avg Purchase Total" : avg_total,
                       "Avg Purchase per person" : avg_gender})
demo_df.index.name= "Gender"
format_dict = {'Avg Purchase Price':'${0:,.0f}', 'Avg Purchase Total' :'${0:,.0f}', 'Avg Purchase per person' :'${0:,.0f}',}
demo_df.style.format(format_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
data_df = purchase_df.copy()
age_num = [0, 10, 15, 20, 25, 30, 35, 40, 100]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
data_df["Age Group"] = pd.cut(data_df["Age"], age_num, labels=age_groups)

grouped_data = data_df.groupby(["Age Group"])

total_count = grouped_data["SN"].nunique()

percentage = (grouped_data["Price"].sum()/data_df["SN"].nunique())

percentage_df = pd.DataFrame({"Total Count" : total_count,
                             "Percentage" : percentage})

format_dict = {'Percentage':'{:.2f}%'}
percentage_df.style.format(format_dict)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
data_df = purchase_df
age_num = [0, 10, 15, 20, 25, 30, 35, 40, 400]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
data_df["Age Group"] = pd.cut(data_df["Age"], age_num, labels=age_groups)
grouped_data = data_df.drop_duplicates(subset ="SN", 
                     keep = False, inplace = True) 
grouped = data_df.groupby(["Age Group"])



count = grouped["Age"].count()
mean = grouped["Price"].mean()
total = grouped["Price"].sum()
users = grouped ["SN"].count()
avg_purchase = total/total_count


final_df = pd.DataFrame({"Purchase Count" : count,
                      "Avg Purchase Price" : mean,
                      "Avg Purchase per person" : avg_purchase,
                        "Total Purchase Value": total})

format_dict = {'Avg Purchase per person':'${0:,.0f}','Avg Purchase Price':'${0:,.0f}', 'Total Purchase Value'
              :'${0:,.0f}'}
final_df.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
#I could not figure how to fix this. Sorry

grouped = purchase_df.groupby("SN")


itemcount = grouped['Item ID'].count()
prices = grouped.sum()["Price"]
average = grouped.mean()["Price"]
users = grouped["SN"].count()
averageper = itemcount/users


prices_df = pd.DataFrame({"Purchase Count" : itemcount,
    "Total Purchase Value" : prices,
                         "Avg Purchase" : average,
                         "Total Value" : prices,
                        "Avg Total Purchase per person" : averageper})
format_price = prices_df.sort_values(["Total Purchase Value"], ascending=False)
format_price

,Purchase Count,Total Purchase Value,Avg Purchase,Total Value,Avg Total Purchase per person
SN,,,,,
Dyally87,1,4.99,4.99,4.99,1.0
Lirtilsa71,1,4.94,4.94,4.94,1.0
Chanirrasta87,1,4.94,4.94,4.94,1.0
Ririp86,1,4.94,4.94,4.94,1.0
Yarithsurgue62,1,4.94,4.94,4.94,1.0
...,...,...,...,...,...
Qilalista41,1,1.02,1.02,1.02,1.0
Hala31,1,1.02,1.02,1.02,1.0
Aidai61,1,1.01,1.01,1.01,1.0
Chanirra79,1,1.01,1.01,1.01,1.0
Alo38,1,1.00,1.00,1.00,1.0

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
pop_data = purchase_df.groupby(["Item Name", "Item ID"])
item = pop_data["Item ID"]
itemname = pop_data["Item Name"]
itemprice = pop_data["Price"].count()
itemvalue = pop_data["Price"].sum()

price = itemvalue/itemprice

pop_summary = pd.DataFrame({"Purchase Count": itemprice,
                           "Item Price": price,
                           "Total Purchase Value": itemvalue})

pop_summary = pop_summary.sort_values(["Total Purchase Value"], ascending=False)
pop_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
Final Critic,92,7,4.584286,32.09
Fiery Glass Crusader,145,6,4.580000,27.48
"Glimmer, Ender of the Moon",78,5,4.400000,22.00
Singed Scalpel,103,5,4.350000,21.75
"Lightning, Etcher of the King",59,5,4.230000,21.15

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
pop_summary = pop_summary.sort_values(["Total Purchase Value"], ascending=False)
pop_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item Name,Item ID,,,
Final Critic,92,7,4.584286,32.09
Fiery Glass Crusader,145,6,4.580000,27.48
"Glimmer, Ender of the Moon",78,5,4.400000,22.00
Singed Scalpel,103,5,4.350000,21.75
"Lightning, Etcher of the King",59,5,4.230000,21.15